flows (1).json
[{"id":"3469b991.2ae586","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"f77b555d.5ce018","type":"inject","z":"3469b991.2ae586","name":"","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":200,"wires":[["a358ade8.d994e"]]},{"id":"a358ade8.d994e","type":"function","z":"3469b991.2ae586","name":"Payload","func":"msg.headers={\n    deviceKey:\"j30ZSCDKy62rSr10\"\n    };\n\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":220,"wires":[["bbac2a1a.887698"]]},{"id":"bbac2a1a.887698","type":"http request","z":"3469b991.2ae586","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"http://api.mediatek.com/mcs/v2/devices/DdSA82oX/datachannels/Led/datapoints.csv","tls":"","persist":false,"proxy":"","authType":"","x":560,"y":240,"wires":[["687867cd.800d28","fbc95f8e.5021b"]]},{"id":"fbc95f8e.5021b","type":"http response","z":"3469b991.2ae586","name":"","statusCode":"","headers":{},"x":750,"y":180,"wires":[]},{"id":"687867cd.800d28","type":"debug","z":"3469b991.2ae586","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":750,"y":320,"wires":[]}]