flows (2).json
[{"id":"a181520a.78c95","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"5261f105.99889","type":"rpi-gpio in","z":"a181520a.78c95","name":"Button","pin":"7","intype":"up","debounce":"25","read":true,"x":180,"y":240,"wires":[["57fa2eea.f088b","147d1deb.a2cd92"]]},{"id":"c2ac9c00.f4a4c","type":"rpi-gpio out","z":"a181520a.78c95","name":"led","pin":"11","set":true,"level":"0","freq":"","out":"out","x":690,"y":320,"wires":[]},{"id":"147d1deb.a2cd92","type":"switch","z":"a181520a.78c95","name":"if input is 1","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":330,"y":280,"wires":[["3c8291e4.3d35fe"],["a3912d47.31278"]]},{"id":"3c8291e4.3d35fe","type":"change","z":"a181520a.78c95","name":"change to 0","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":510,"y":260,"wires":[["c2ac9c00.f4a4c"]]},{"id":"57fa2eea.f088b","type":"debug","z":"a181520a.78c95","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":560,"y":140,"wires":[]},{"id":"a3912d47.31278","type":"change","z":"a181520a.78c95","name":"change to 1","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":530,"y":340,"wires":[["c2ac9c00.f4a4c"]]}]